extends ../layout

block content
  script(src="https://www.google.com/recaptcha/api.js")
  form#formNewPost.postContainer(name="addpost", method="post", action="/Image")
    input(type="hidden", name="type", value="image")
    input#inputImage.inputBox(type="text", placeholder="Title", name="title")
    input#inputImage.inputBox(type="text", placeholder="Image Link URLs (separated by commas)", name="content")
    input#inputImage.inputBox(type="text", placeholder="Caption", name="caption")
    input#inputImage.inputBox(type="text", placeholder="Tags (separated by commas)", name="tags")
    div.g-recaptcha(data-sitekey=key)
    button(type="submit")
      div.postButton Post
    