extends ../layout

block content
  script(src="https://www.google.com/recaptcha/api.js")
  form#formNewPost(name="addpost", method="post", action="/newImage")
    input(type="hidden", name="type", value="image")
    input#inputTitle(type="text", placeholder="Title", name="title")
    input#inputContent(type="text", placeholder="Content (Image links separated by commas)", name="content")
    input#inputCaption(type="text", placeholder="Caption", name="caption")
    input#inputTags(type="text", placeholder="Tags (separated by commas)", name="tags")
    div.g-recaptcha(data-sitekey="6LcpzREUAAAAAMb2qn7aobDAldkSgBX_fq7tpOXj")
    button#btnPost(type="submit") Post
    