extends ../layout

block content
  script(src="https://www.google.com/recaptcha/api.js")
  form#formNewPost.postContainer(name="addpost", method="post", action="/newText")
    input(type="hidden", name="type", value="text")
    input(type="hidden", name="views", value=0)
    input#inputText.inputBox(type="text", placeholder="Title", name="title")
    input#inputText.inputBox(type="text", placeholder="Content", name="content")
    input#inputText.inputBox(type="text", placeholder="Tags (separated by commas)", name="tags")
    div.g-recaptcha(data-sitekey="6LcpzREUAAAAAMb2qn7aobDAldkSgBX_fq7tpOXj")
    button(type="submit")
      div.postButton Post!