extends ../layout

block content
  script(src="https://www.google.com/recaptcha/api.js")
  form#formNewPost(name="addpost", method="post", action="/newText")
    input(type="hidden", name="type", value="text")
    input#inputTitle(type="text", placeholder="Title", name="title")
    input#inputContent(type="text", placeholder="Content", name="content")
    input#inputTags(type="text", placeholder="Tags", name="tags")
    div.g-recaptcha(data-sitekey="6LcpzREUAAAAAMb2qn7aobDAldkSgBX_fq7tpOXj")
    button#btnPost(type="submit") Post